$main-yellow: #FFE600;
$placeholder-font-color: #999999;
$background-gray: #EEEEEE;
$font-black: #333333;
$strong-gray: #666666;
@import './components/searchBar/searchBar';
@import './components/itemsList/item';
@import './components/breadcrumb/breadcrumb';
@import './components/pagination/pagination';
@import './pages/itemDetail';

body {
	background-color: $background-gray;
}
.main-container {
	margin-top: 60px;
	padding: 0 5%;
	.main-container-inner {
		display: grid;
		grid-template-columns: repeat(12, [col-start] 1fr);
		grid-column-gap: 10px;
	}
}